<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.3.0/font/bootstrap-icons.css">
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
        <link rel = "stylesheet" href="style1.css">
        <link rel = "stylesheet" href="/static/style1.css">
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap" rel="stylesheet">
        <!-- <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap" rel="stylesheet"> -->
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@700&display=swap" rel="stylesheet">
        <!-- <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@900&display=swap" rel="stylesheet"> -->
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@700&display=swap" rel="stylesheet">
    </head>
    <body>
    <div>
        <div id = "x" style = "height: 54.1rem;">
            <span style = "color: white;font-size: 6rem; font-family: 'Roboto';margin-left:23.9rem"><i class="bi bi-camera-reels"></i></span><span style = "color :white; font-size:6rem; font-family: 'Roboto';"><b>SHOW</b></span>
            <div class = "child1" style="margin-left: -10rem;">
            <h1 id = "head1" >For <b>Admin</b></h1>
            <br>
            <center>
            <p style="color :white; font-size: large;"><b>Small or Big! create and manage all types of event</b></p>
            <a href = "/adminlogin"><button class="reg1">Log in</button></a>
            <br><br>
            <p style = "color :white"><b>Don't have an account?</b></p>
            <a href = "/adminsignup" style="color:white"><b>Sign up</b></a></center>
            </div>
        </div>
        
        <div id = "y">
            <p></p>
            <h1 id = "rm2" style="font-size: 6rem;"><b>TIME</b></h1>
            <div style="margin-top: 10rem;">
            <h1 id = "head2">For <b>Users</b></h1>
            <br>
            <center>
            <p style="color :#1A6B6B; font-size: large;"><b>Your seat is waiting, don't be late.</b></p>
            <a href = "/userlogin"><button class="reg2">Log in</button></a>
            <br><br>
            <p style="color :#1A6B6B"><b>Don't have an account?</b></p>
            <a href = "/usersignup" style = "color:#1A6B6B"><b>Sign up</b></a></center>
            </div>
        </div>
    </div>
    </body>
</html>