<!DOCTYPE html>
<html lang = "en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.3.0/font/bootstrap-icons.css">
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
        <link rel = "stylesheet" href = "usersign.css">
        <link rel = "stylesheet" href = "/static/usersign.css">
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap" rel="stylesheet">
        <!-- <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap" rel="stylesheet"> -->
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@700&display=swap" rel="stylesheet">
        <!-- <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@900&display=swap" rel="stylesheet"> -->
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@700&display=swap" rel="stylesheet">
    </head>
    <body>
        <form action = "/admin/{{email}}/{{venueid}}/{{showid}}/updateshow" method = "POST">
            <div>
                <h1 class = "hed1" style="font-weight: 600;">Update show details</h1>
                    <div class="cont2">
                        <div class="inpu">
                            <div class="empas" style = "width: 350px; float: left;">
                                <label>Show id</label>
                                <input type="text" name="showid" value = "{{ shows.show_id }}" disabled>   
                                <br><br>
                            </div>
                            <div class="empas" style = "width: 350px; float: right;">
                                <label>Show name</label>
                                <input type="text" name="showname" value = "{{ shows.show_name }}" disabled>   
                                <br><br>
                            </div>
                            <div class="empas" style = "width: 350px; float: left;">
                                <label>Date</label>
                                <input type="date" name="date" value = "{{ shows.date}}" disabled>   
                            </div>
                            <br>
                            <div class="empas" style = "width: 350px; float: right;">
                                <label>Time</label>
                                <input type="time" name="time" value = "{{shows.time}}" disabled>   
                            </div>
                            <div class="empas" style = "width: 350px; float: left;">
                                <br>
                                <label>Capacity</label>
                                <input type="number" name="capacity" placeholder="Capacity" required>
                                <br><br>
                            </div>
                            <div class="empas" style = "width: 350px; float: right;">
                                <br>
                                <label>Screen</label>
                                <input type="text" name="screen" placeholder="Screen">
                                <br><br>
                            </div>
                            <div class="empas" style = "width: 350px; float: left;">
                                <label>Film certificate</label>
                                <input type="text" name="filmcertificate"  value = "{{ shows.film_certificate }}" disabled>   
                                <br><br>
                            </div>
                            <div class="empas" style = "width: 350px; float: right;">
                                <label>Genre</label>
                                <input type="text" name="genre" value = "{{ shows.genre }}" disabled>   
                                <br><br>
                            </div>
                            <div class="empas" style = "width: 350px; float: left;">
                                <label>Price</label>
                                <input type="number" name="price" placeholder = "Price" required>   
                                <br><br>
                            </div>
                            <div class="empas" style = "width: 350px; float: right;">
                                <label>Format</label>
                                <input type="text" name="format" value = "{{ shows.format }}" disabled>   
                                <br><br>
                            </div>
                            <div class="empas" style = "width: 350px; float: left;">
                                <label>Language</label>
                                <input type="text" name="language" value = "{{ shows.language }}" disabled>   
                                <br>
                            </div>
                        </div>
                        <br>
                        {% if i == 1 %}
                        <p style="color:red; font-family: 'Roboto';">Capacity cannot be less than booked seats.</p>
                        {% endif %}
                        <button style = "border-radius:30px;outline: none;">Update show</button>
                    </div>
            </div>
            </form>
    </body>
</html>